name: ETL Pipeline

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *' # Run daily at midnight
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scipy mysql-connector-python sqlalchemy

    - name: Run ETL
      env:
        DB_TYPE: mysql
        PMO_HOST: yamabiko.proxy.rlwy.net
        PMO_PORT: 27081
        PMO_USER: root
        PMO_PASSWORD: ${{ secrets.PMO_PASSWORD }}
        PMO_DB: railway
        SSD_HOST: shinkansen.proxy.rlwy.net
        SSD_PORT: 57709
        SSD_USER: root
        SSD_PASSWORD: ${{ secrets.SSD_PASSWORD }}
        SSD_DB: railway
      run: |
        python ETL-Proyecto/ETL-Proyecto/etl.py
